@{
    Layout = "_LayoutH";
    @model List<YL.Core.Dto.InventoryDetailDto>
}
@section styles{
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
}
<div id="app" v-cloak>
    <form class="form-horizontal" onsubmit="return false">
        <table class="box-body">
            <tr>
                <td>
                    <label class="col-sm-2 control-label">格号</label>
                </td>
                <td>
                    <label class="col-sm-2 control-label">物料名</label>
                </td>
                <td>
                    <label class="col-sm-2 control-label">已入库/计划入库</label>
                </td>
                <td>
                    <label class="col-sm-2 control-label">料箱装入数</label>
                </td>
                <td>
                    <label class="col-sm-2 control-label">料箱数量</label>
                </td>
            </tr>
            @{
                foreach (YL.Core.Dto.InventoryDetailDto detail in Model)
                {
                    <tr>
                        <td>
                            <label name="Postion" iid="@detail.InventoryId" class="form-control Postion" />
                        </td>
                        <td>
                            <label name="MaterialName" iid="@detail.InventoryId" class="form-control MaterialName" />
                        </td>
                        <td>
                            <label name="PlanQty" iid="@detail.InventoryId" ComplateQty=@detail.ComplateQty PlanQty=@detail.PlanQty class="form-control PlanQty" />
                        </td>
                        <td>
                            <input name="Qty" iid="@detail.InventoryId" type="text" class="form-control Qty" onchange="app.refresh('@detail.InventoryId')" >
                        </td>
                        <td>
                            <label name="BoxQty" iid="@detail.InventoryId" ComplateQty=@detail.BeforeQty class="form-control BoxQty" />
                        </td>
                    </tr>
                }
            }
        </table>
        <div class="box-footer">
            <div class="pull-right box-tools">
                <input v-on:click="okL" class="btn btn-primary radius" type="submit" v-model="submit">
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/defaults-zh_CN.min.js"></script>
    <script> 
        var app = new Vue({
            el: "#app",
            data: {
                submit: "添加",   
            },
            computed: {
                count: function () {
                    return this.strLength(this.Remark, false);
                }
            },
            mounted: function(){
                var _self = this;
                _self.$nextTick(function () {
                    $(".Postion").foreach(function (index, elem) {
                        refresh(elem.iid);
                    }
                    );
                });
            },
            methods: { 
                okL: function () {
                    var _self = this;
                    if (_self.MaterialId.length <= 0) {
                        layer.msg("请选择物料", { icon: 2 });
                        return false;
                    }
                    if (!yui.signlessInteger(_self.PlanInQty)) {
                        layer.msg("计划数量为正整数", { icon: 2 });
                        return false;
                    }

                    var index = layer.load(1, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                    var data = {
                        id: _self.StockInDetailId,
                        StockInId: _self.StockInId,
                        MaterialId: _self.MaterialId,
                        StoragerackId: _self.StoragerackId,
                        PlanInQty: _self.PlanInQty,
                        ActInQty: 0,
                        Remark: _self.Remark
                    };
                    yui.$axiospostform('/StockIn/AddOrUpdateD', data)
                        .then(function (response) {
                            if (response.data.Item1 === 101) {
                                layer.tips(response.data.Item2, '.layui-layer-setwin', {
                                    tips: [1, '#3595CC'],
                                    time: 3000
                                });
                                layer.close(index);
                                return false;
                            }
                            if (response.data.Item1) {
                                layer.msg(response.data.Item2, { icon: 1, time: 1000 });
                                setTimeout(function () {
                                    yui.layer_close3();
                                }, 500);
                            } else {
                                layer.msg(response.data.Item2 || errorMsg, { icon: 5 });
                            }
                            layer.close(index);
                        })
                        .catch(function (error) {
                            layer.close(index);
                        });
                },
                refresh: function (id) {
                    var ctlPlanQty = $(".PlanQty" + id);
                    var ctlQty = $(".Qty" + id);
                    var ctlBoxQty = $(".BoxQty" + id);
                    var qty = Number(ctlQty.val());
                    var planQty = ctlPlanQty.prop("PlanQty");
                    var complateQty = ctlPlanQty.prop("ComplateQty");
                    var beforeQty = ctlPlanQty.prop("BeforeQty");

                    ctlPlanQty.text(complateQty + "(" + qty + ")" + "/" + planQty);
                    ctlBoxQty.text(beforeQty + "=>" + beforeQty + qty);
                }
            }
        });
    </script>
}