@using YL.Utils.Json;
@{
    Layout = "_LayoutH";
    @model YL.Core.Entity.Wms_stockin
}
@section styles{
    <link rel="stylesheet" href="~/css/bootstrap-select.min.css" />
}
<div id="app" v-cloak>
    <div>
        <button id="boxOutL" type="button" class="btn btn-link btn-outL margin-left:20px" onclick="app.boxOutL();">料箱出库</button>
        <button id="scanL" type="button" class="btn btn-link btn-scanL" onclick="app.scanL();" >扫码操作</button>
    </div>
    <table id="bootstraptable" class="table table-bordered text-nowrap table-hover"></table>
</div>

@section scripts{
    <script src="~/js/bootstrap-select.min.js"></script>
    <script src="~/js/defaults-zh_CN.min.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                datemin: '',
                datemax: '',
                StockInId: "@Model.StockInId",
                StockInNo: "@Model.StockInNo",
                storeId: '@ViewData["currentStoreId"]',
                urlM: '',
                storeId: '0'
            },
            mounted: function () {
                _self = this;
                _self.$nextTick(function () {
                    _self.$refs.storeId = '@ViewData["currentStoreId"]';

                    _self.$refs.datemin = "1900-01-01";
                    _self.$refs.datemax = "2099-01-01";
                    var obj = [{
                        checkbox: true,             //是否显示复选框
                        visible: true
                    },
                    {
                        field: 'Detail.StockInDetailId',
                        title: '详细ID',
                        visible: false
                    },
                    {
                        field: 'Detail.Status',
                        title: '状态',
                        visible: true,
                        sortable: true,
                        formatter: function (value, row, index) {
                            var html = [];
                            if(value == -1) {
                                return '<span class="label label-danger radius">已取消</span>';
                            }
                            else if (value == 1) { //任务创建中
                                return '<span class="label label-default radius">任务创建中</span>';
                            }
                            else if (value == 2) { //待操作
                                return '<span class="label label-default radius">待操作</span>';
                            }
                            else if (value == 3) { //进行中
                                return '<span class="label label-primary radius">进行中</span>';
                            }
                            else if (value == 4) { //已完成
                                return '<span class="label label-success radius">已完成</span>';
                            } 
                            return html.join('');
                        },

                    },
                    {
                        field: 'Detail.MaterialNo',
                        title: '物料编号',
                        align: 'center',
                        sortable: true
                    },
                    {
                        field: 'Detail.MaterialName',
                        title: '物料名称',
                        align: 'center',
                        sortable: true
                    }, 
                    {
                        field: 'Detail.PlanInQty',
                        title: '计划数量',
                        align: 'center',
                        sortable: true
                    }
                    , {
                        field: 'Detail.ActInQty',
                        title: '实际数量',
                        align: 'center',
                        sortable: true
                    },
                    {
                        field: 'Detail.Remark',
                        title: '备注',
                        align: 'left',
                        sortable: true
                    },
                    {
                        field: 'Detail.ModifiedDate',
                        title: '最后更新时间',
                        align: 'center',
                        sortable: true,
                        formatter: function (value, row, index) {
                            return _self.jsonDateFormat(value);
                        }
                    },
                    {
                        field: 'Tasks',
                        title: '操作',
                        visible: true,
                        sortable: true,
                        formatter: function (value, row, index) {
                            var html = [];
                            for (var i = 0; i < value.length; i++) {
                                var item = value[i];
                                if (item.TaskStatus == 1) { //任务已确认
                                }
                                else if (item.TaskStatus == 2) { //出库中
                                    html.push(
                                        '<span class="label label-primary radius">料箱[' + item.InventoryBoxName + ']出库中</span>'
                                    );
                                }
                                else if (item.TaskStatus == 3) { //出库完成
                                    html.push(
                                        '<button id="backL" type="button" class="btn btn-link btn-backL" style="margin-top:-8px;margin-left:-10px;" onclick="app.boxBackL(\'' + item.InventoryBoxTaskId + '\');">料箱[' + item.InventoryBoxName + ']归库</button>'
                                    );
                                }
                                else if (item.TaskStatus == 4) { //归库中
                                    html.push(
                                        '<span class="label label-primary radius">料箱[' + item.InventoryBoxName + ']归库中</span>'
                                    );
                                }
                                else if (item.TaskStatus == 5) { //归库完成
                                    html.push(
                                        '<span class="label label-success radius">料箱[' + item.InventoryBoxName + ']归库完成</span>'
                                    );
                                }
                            } 
                            return html.join('<br/>');
                        },
                        events: { 
                        },
                    }
                    ];
                    var qParams = {
                        pid: "@Model.StockInId"
                    };
                    yui.table("bootstraptable", "/StockIn/WorkList", obj, "GET", "StockInDetailId", true, qParams); 
                });
            },
            computed: {
                count: function () {
                    return this.strLength(this.Remark, false);
                }
            },
            watch: {},
            methods: {
                boxOutL: function () {
                    yui.layershow("料箱出库", "/InventoryBox/InventoryBoxOut?storeId=@ViewData["currentStoreId"]", 600, 500);
                },
                boxBackL: function (taskId) {
                    yui.layershow("料箱归库", "/InventoryBox/InventoryBoxBack?storeId=@ViewData["currentStoreId"]&inventoryboxtaskid=" + taskId, 1000, 800);
                },
                scanL: function (detailId) {
                    yui.layershow("扫码操作", "/StockIn/ScanPage?stockInId=@Model.StockInId&storeId=@ViewData["currentStoreId"]", 1000, 800);
                },
                refreshL: function () {
                    $("button[name='refresh']").click();
                }
            }
        });
    </script>
}