@{
    Layout = "_LayoutH";
    @model Wms_stockout
}
@section styles{
}
<div id="app" v-cloak>
    <form class="form-horizontal" onsubmit="return false">
        <div class="box-header">
            <div class="pull-right box-tools print-hide" style="position:fixed;right:10px;top:10px">
                <input v-on:click="printL" class="btn btn-primary radius" type="submit" v-model="submit">
            </div>
        </div>
        <div class="box-body" id="print">
            <div v-for="(item,i) in stockOutDList" >
                <table class="table" style="font-size:18pt;word-break: break-word;" >
                    <tr>
                        <th style="white-space:nowrap">出库单号</th>
                        <th style="white-space:nowrap;margin-left:20px;">出库类型</th>
                        <th style="width:500px" rowspan="8">
                            <img style="width:500px;height:500px" :src="item.QRUrl" />
                        </th>
                    </tr>
                    <tr >
                        <td >@Model.StockOutNo ( @Model.StockOutDate )</td>
                        <td >@Model.StockOutTypeName</td>
                    </tr>
                    <tr>
                        <th style="white-space:nowrap;margin-left:20px;">生产令号</th>
                        <th style="white-space:nowrap;margin-left:20px;">工作令号</th>
                    </tr>
                    <tr >
                        <td>@Model.OrderNo</td>
                        <td >@Model.WorkNo</td>
                    </tr>
                    <tr>
                        <th style="white-space:nowrap;margin-left:20px;">作业区</th>
                        <th style="white-space:nowrap;margin-left:20px;">工位号</th>
                    </tr>
                    <tr >
                        <td >@Model.WorkAreaName</td>
                        <td >@Model.WorkStationId</td>
                    </tr> 
                </table>
                <br />
                <table class="table material_table" style="font-size:18pt;border: 1px solid #ddd;width:100%" v-show="material_visable" >
                    <thead>
                        <tr>
                            <th style="white-space:nowrap">子出库单号</th>
                            <th style="white-space:nowrap">出库唯一索引</th>
                            <th style="white-space:nowrap">入库唯一索引</th>
                            <th style="white-space:nowrap">物料编号</th>
                            <th style="white-space:nowrap">物料唯一编号</th>
                            <th style="white-space:nowrap">物料名称</th>
                            <th style="white-space:nowrap">计划数量</th> 
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="white-space:nowrap">{{item.SubWarehouseEntryId}}</td>
                            <td style="white-space:nowrap">{{item.UniqueIndex}}</td>
                            <td style="white-space:nowrap">{{item.StockInUniqueIndex}}</td>
                            <td style="white-space:nowrap">{{item.MaterialNo}}</td>
                            <td style="white-space:nowrap">{{item.MaterialOnlyId}}</td>
                            <td style="white-space:nowrap">{{item.MaterialName}}</td>
                            <td style="white-space:nowrap">{{item.PlanOutQty}}</td>
                        </tr>
                    </tbody>
                </table>
                <div style="font-size:18pt">
                    备注: @Model.Remark
                </div>
                <div class="print-hide" style="width:100%;height:1px;background:black;margin:50px 0"></div>
                <div :style="i===stockOutDList.length-1?'':'page-break-after: always;'"></div>
            </div>
        </div>
        <div class="box-footer">
        </div>
    </form>
</div>

@section scripts{
    <!--script src="~/lib/lodop/LodopFuncs.js"></script-->
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                submit: "打印",
                material_visable: true,
                stockOutId: "@ViewBag.StockOutId",
                stockOutList: [],
                stockOutDList: [],
                stockOutNo:'@Model.StockOutNo'

            },
            computed: {
            },
            mounted: function () {
                var _self = this;
                _self.$nextTick(function () {
                    _self.loadL();
                });
            },
            methods: {
                loadL: function () {
                    var _self = this;
                    yui.$axiosget('/StockOut/PreviewJson?id=@Model.StockOutId&BoxId=@ViewBag.BoxId')
                        .then(function (response) {
                            _self.stockOutList = response.data.Item2;
                            if (response.data.Item3) {
                                for (var i = 0; i < response.data.Item4.length; i++) {
                                    var detail = response.data.Item4[i];
                                    detail.QRUrl = "MaterialQRCode?storeId=@ViewBag.StoreId&detailboxId=" + detail.BoxId;
                                }
                                _self.stockOutDList = response.data.Item4;
                            }
                            else {
                                response.data.Item4 = [{ QRUrl: "StockOutNoQRCode?StockOutNo=@Model.StockOutNo" }];
                                _self.stockOutDList = response.data.Item4;
                                _self.material_visable = false;
                            }
                        })
                        .catch(function (error) {
                            layer.msg(error.message, { icon: 5 });
                        });
                },
                printL: function () {
                    $(".print-hide").hide();
                    window.print();
                    $(".print-hide").show();
                },
                formatL: function (val) {
                    return this.jsonDateFormat(val);
                }

            }
        });
    </script>
}